<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AeroPredict: About Project</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='about.css') }}">
</head>
<body>
    <header id="header">
        <div class="justify-content-center">
            <span>
                <img src="static/image/hands_12293709.png" alt="logo" style="max-width: 50px;">
                <h2>AeroPredict</h2>
            </span>
            <nav class="justify-content-center">
                <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                <a class="nav-link" href="{{ url_for('predict') }}">Predict</a>
                <a class="nav-link" href="#contact">Contact Us</a>
            </nav>
        </div>
    </header>
    <h1 style="display: block;  text-align:left; margin-left: 10%;">About Project</h1>
    <div class="content-container">
        <h2>Main Heading</h2>
        <p>This is a paragraph of text.</p>
        <h2>Subheading 1</h2>
        <p>This is another paragraph of text.</p>
        <h3>Subheading 2</h3>
        <ul>
            <li>List item 1</li>
            <li>List item 2</li>
            <li>List item 3</li>
        </ul>
        <h4>Subheading 3</h4>
        <p>Yet another paragraph of text.</p>
        <h5>Subheading 4</h5>
        <ul>
            <li>List item A</li>
            <li>List item B</li>
            <li>List item C</li>
        </ul>
        <h2>Main Heading</h2>
        <p>This is a paragraph of text.</p>
        <h2>Subheading 1</h2>
        <p>This is another paragraph of text.</p>
        <h3>Subheading 2</h3>
        <ul>
            <li>List item 1</li>
            <li>List item 2</li>
            <li>List item 3</li>
        </ul>
        <h4>Subheading 3</h4>
        <p>Yet another paragraph of text.</p>
        <h5>Subheading 4</h5>
        <ul>
            <li>List item A</li>
            <li>List item B</li>
            <li>List item C</li>
        </ul>
    </div>
<hr style="margin-bottom: 10px;">
    <h1 style="display: block;  text-align:left; margin-left: 10%;">Project Demo</h1>
<div class="video-container">
    <video controls preload="auto">
        <source src="#" type="video/mp4">
        <!-- Add additional source elements for different video formats if needed -->
        Your browser does not support the video tag.
    </video>
</div>
<hr style="margin-bottom: 10px;">
<h1 style="display: block;  text-align:left; margin-left: 10%;">Technology Used In Project</h1>
<div class="collage-container">
    <div class="collage-item">
        <img src="static/image/python.png" alt="Image 1">
    </div>
    <div class="collage-item">
        <img src="static/image/icons8-flask-500.png" alt="Image 2">
    </div>
    <div class="collage-item">
        <img src="static/image/scikit-learn.png" alt="Image 3">
    </div>
    <div class="collage-item">
        <img src="static/image/icons8-css-480.png" alt="Image 4">
    </div>
    <div class="collage-item">
        <img src="static/image/icons8-html-480.png" alt="Image 5">
    </div>
    
    <div class="collage-item">
        <img src="static/image/icons8-github-512.png" alt="Image 6">
    </div>
    <div class="collage-item">
        <img src="static/image/icons8-vs-code-480.png" alt="Image 7">
    </div>
</div>

<hr style="margin-bottom: 10px;">
<h1 style="display: block;  text-align:left; margin-left: 10%;">Documentation and Source Code</h1>
<div class="links-container">
    <ul class="link-list">
        <li><a href="#">High Level Documnet (HLD)</a></li>
        <li><a href="#">Low Level Documnet (LLD)</a></li>
        <li><a href="#">Flight Dataset</a></li>
        <li><a href="#">Source Code Zip File</a></li>
        <li><a href="#">GitHub Repository</a></li>
    </ul>
</div>

<a class='bottum-btn' href="#header"><b>Goto Top</b></a>


<footer class="footer">
    <hr>
    <p id="contact">Contact Us</p>
    <a href="#"><b>GitHub</b></a>
    <a href="#"><b>Linkedin</b></a>
</footer>
</body>
</html>
