<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AeroPredict: About Project</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='about.css') }}">
    <link rel="icon" href="static/image/hands_12293709.png" type="image/x-icon">
</head>
<body>
    <header id="header">
        <div class="justify-content-center">
            <span>
                <img src="static/image/hands_12293709.png" alt="logo" style="max-width: 50px;">
                <h2>AeroPredict</h2>
            </span>
            <nav class="justify-content-center">
                <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                <a class="nav-link" href="{{ url_for('predict') }}">Predict</a>
                <a class="nav-link" href="#contact">Contact Us</a>
            </nav>
        </div>
    </header>
    <h1 style="display: block;  text-align:left; margin-left: 10%;">About Project</h1>
    <div class="content-container">
        <h1>AeroPredict: Making Flying Predictable</h1>
        <p>AeroPredict is an innovative machine learning project designed to make flying more predictable, specifically targeting flights within the Indian route. Utilizing a basic ML model, AeroPredict accurately forecasts flight fares, providing travelers with valuable insights into pricing trends.</p>
        
        <h2>Technologies:</h2>
        <p>The project leverages a range of cutting-edge technologies. On the backend, Python, Flask, and scikit-learn are employed to handle data processing, model training, and prediction tasks. Meanwhile, the frontend is developed using HTML and CSS to create user-friendly interfaces. The entire project is crafted within the VS Code environment, ensuring efficient development and management of code.  <b>python version == 3.11.8 </b></p>
        
        <h2>Random Forest Regressor:</h2>
        <p>The Random Forest Regressor algorithm, used in AeroPredict, constructs multiple decision trees during training, each based on random subsets of data and features. It then aggregates their predictions to produce a final output, providing robust and accurate predictions for flight fares. This algorithm is known for its ability to handle large datasets, high dimensionality, and noisy data, making it a popular choice for regression tasks like predicting flight prices.</p>

        <h2>Home Page:</h2>
        <p>The home page serves as a simple introduction to the project, offering key insights into AeroPredict's objectives and functionalities. Users are guided to the prediction page, where they can access the flight fare prediction feature.</p>
         
        <h2>Prediction Page:</h2>
        <p>At the heart of AeroPredict lies the prediction page, where users can input various parameters such as date of journey, arrival time, source, destination, airline company, and total stops. Leveraging the ML model, AeroPredict accurately predicts flight prices with an impressive 85% accuracy rate. The predicted fare, along with detailed flight information, is promptly displayed on the same page, empowering users to make informed travel decisions.</p>
 
        <h2>About Page:</h2>
        <p>The about page serves as a comprehensive overview of the AeroPredict project. Here, users can find detailed information about the project's objectives, technologies used, and its significance in the realm of flight prediction. Additionally, the page features essential links to project documentation and source code files, providing users with further insights and resources.

            In conclusion, AeroPredict represents a groundbreaking approach to flight fare prediction, seamlessly integrating machine learning with user-friendly web interfaces. By making flying more predictable, AeroPredict aims to enhance the travel experience for users across the Indian route.</p>

    </div>
<hr style="margin-bottom: 10px;">
    <h1 style="display: block;  text-align:left; margin-left: 10%;">Project Demo</h1>
<div class="video-container">
    <video controls preload="auto">
        <source src="#" type="video/mp4">
        <!-- Add additional source elements for different video formats if needed -->
        Your browser does not support the video tag.
    </video>
</div>
<hr style="margin-bottom: 10px;">
<h1 style="display: block;  text-align:left; margin-left: 10%;">Technology Used In Project</h1>
<div class="collage-container">
    <div class="collage-item">
        <img src="static/image/python.png" alt="Image 1">
    </div>
    <div class="collage-item">
        <img src="static/image/icons8-flask-500.png" alt="Image 2">
    </div>
    <div class="collage-item">
        <img src="static/image/scikit-learn.png" alt="Image 3">
    </div>
    <div class="collage-item">
        <img src="static/image/icons8-css-480.png" alt="Image 4">
    </div>
    <div class="collage-item">
        <img src="static/image/icons8-html-480.png" alt="Image 5">
    </div>
    
    <div class="collage-item">
        <img src="static/image/icons8-github-512.png" alt="Image 6">
    </div>
    <div class="collage-item">
        <img src="static/image/icons8-vs-code-480.png" alt="Image 7">
    </div>
</div>

<hr style="margin-bottom: 10px;">
<h1 style="display: block;  text-align:left; margin-left: 10%;">Documentation and Source Code</h1>
<div class="links-container">
    <ul class="link-list">
        <li><a href="#">High Level Documnet (HLD)</a></li>
        <li><a href="#">Low Level Documnet (LLD)</a></li>
        <li><a href="#">Flight Dataset</a></li>
        <li><a href="#">Source Code Zip File</a></li>
        <li><a href="#">GitHub Repository</a></li>
    </ul>
</div>

<a class='bottum-btn' href="#header"><b>Goto Top</b></a>


<footer class="footer">
    <hr>
    <p id="contact">Contact Us</p>
    <a href="#"><b>GitHub</b></a>
    <a href="#"><b>Linkedin</b></a>
</footer>
</body>
</html>
